$form-bg-color = #ffffff
$input-border-color = #dadada
$label-color = #505050
$white = #fff
$error-text-color = #e74c3c

$tooltip-background = #bec8d0

$submit-button-color = #0fd000
$submit-button-border-color = #197c11
$submit-button-disabled-color = #808080

$input-border-normal-focus-shadow = inset 0 3px 3px rgba(149, 165, 166, 0.5);
$input-border-focus-error-shadow = inset 0 3px 3px rgba(231, 76, 60, 0.6)
